@media (max-width: 1439px) {
  .footer {
    padding: 80px 0px 60px 0px;
  }
  .footer .menu {
    margin-left: 63px;
  }
  .footer .cont {
    margin-left: 0px;
  }
  .footer .cont p {
    font-size: 18px;
  }
  .footer h4 {
    margin: -3px 0px 21px 0px;
    font-size: 20px;
  }
  .footer .social {
    width: 126px;
  }
  .contact {
    padding: 0px 0px 120px 0px;
  }
  .contact h2 {
    margin: 9px 0px 60px 0px;
    font-size: 35px;
  }
  .partners {
    margin: 140px 0px 140px 0px;
  }
  .partners .d {
    margin-right: 4px;
  }
  .partners .c {
    margin-right: 0;
  }
  .partners .b {
    margin-right: -1px;
  }
  .partners .a {
    margin-left: 2px;
  }
  .partners h2 {
    margin: 9px 0px 60px 0px;
    font-size: 35px;
  }
  .cases {
    padding: 80px 0px 80px 0px;
  }
  .cases .text {
    padding: 9px 0px 0px 0px;
  }
  .cases .item.a {
    padding: 41px 0px 51px 0px;
  }
  .cases .item.a img {
    margin: 9px 0px 0px 2px;
  }
  .cases .item.b {
    padding: 48px 0px 51px 0px;
  }
  .cases .item.b img {
    margin: 2px 0px 0px 3px;
  }
  .cases .item.c {
    padding: 26px 0px 51px 0px;
  }
  .cases .item.c img {
    margin: 23px 0px 0px 3px;
  }
  .cases .wrap .title {
    margin: 1px 29px 0px 0px;
  }
  .cases p {
    max-width: 428px;
  }
  .cases img {
    max-width: 380px;
  }
  .cases h4 {
    font-size: 20px;
  }
  .cases h2 {
    margin: 9px 0px 59px 0px;
    font-size: 35px;
  }
  .features {
    margin: 122px 0px 100px 0px;
  }
  .features .item {
    margin: 0px 0px 42px 0px;
  }
  .features .item.rrr {
    margin-left: 0;
  }
  .features .item .ns {
    margin-left: 8px;
  }
  .features .wrapper {
    padding: 0px 7px 0px 0px;
  }
  .features p {
    margin: 8px 0px 0px 0px;
  }
  .features h4 {
    margin: 21px 0px 0px 0px;
    font-size: 20px;
  }
  .features h2 {
    margin: 9px 0px 59px 0px;
    font-size: 35px;
  }
  .how {
    margin: 142px 0px 0px 0px;
  }
  .how .item {
    height: 396px;
    padding: 30px 30px 0px 32px;
    max-width: 430px;
  }
  .how .item .sss {
    margin-top: 15px;
  }
  .how .item .t {
    display: none;
  }
  .how .item h4 {
    line-height: 140%;
    margin: 18px 0px 0px 0px;
    font-size: 20px;
  }
  .how .item h4.b {
    margin: 13px 0px 0px 0px;
  }
  .how .title h2 {
    margin: 9px 0px 58px 0px;
    font-size: 35px;
  }
  .approach {
    padding: 82px 0px 40px 0px;
    margin: 140px 0px 0px 0px;
  }
  .approach .title {
    padding: 0px 0px 62px 0px;
  }
  .approach .item {
    width: 203px;
  }
  .approach h4 {
    font-size: 20px;
  }
  .approach p {
    max-width: 218px;
  }
  .approach h2 {
    margin: 9px 0px 0px 0px;
    font-size: 35px;
  }
  .container {
    max-width: 880px;
  }
  .name,
  .email {
    width: 100%;
  }
  .contact form {
    padding: 0px 0px 0px 0px;
  }
  .header {
    padding: 20px 0px 0px 0px;
  }
  .header .nav {
    display: none;
  }
  .intro {
    padding: 92px 0px 0px 0px;
  }
  .intro .introform {
    max-width: 355px;
    margin: 30px 0px 0px 0px;
  }
  .intro .introform .submit {
    padding: 20px 30px;
  }
  .intro .introform .email {
    min-width: 355px;
    margin: 0px 0px 20px 0px;
  }
  .intro h1 {
    margin: 30px 0px 0px 0px;
    font-size: 70px;
  }
  .intro span {
    font-size: 20px;
  }
  .intro .container {
    max-width: 880px;
  }
  .intro .row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .intro img {
    margin: 8px 0px 0px 0px;
    max-width: 450px;
  }
  .intro .introform {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1023px) {
  .approach {
    padding: 60px 0px 17px 0px;
    margin: 120px 0px 0px 0px;
  }
  .approach .wrap.end {
    margin: 0px -20px 0px 0px;
    max-width: 100%;
  }
  .approach .row {
    margin: 0px 0px 43px 0px;
  }
  .approach .item {
    width: 226px;
  }
  .approach .item.rrr {
    margin: 0px -30px 0px 0px;
  }
  .approach .item.ttt {
    margin: 0px 0px 0px -10px;
  }
  .approach p {
    max-width: 100%;
    margin: 9px 0px 0px 0px;
    font-size: 16px;
  }
  .approach .title {
    padding: 0px 0px 51px 0px;
  }
  .approach h2 {
    font-size: 30px;
  }
  .approach span {
    font-size: 16px;
  }
  .intro {
    padding: 66px 0px 0px 0px;
  }
  .intro img {
    max-width: 460px;
    margin: 71px 0px 0px 0px;
  }
  .intro .introform {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 500px;
  }
  .intro .introform .submit {
    padding: 21px 30px;
    min-width: 385px;
    max-width: 385px;
  }
  .intro .introform .email {
    font-size: 16px;
    min-width: 385px;
    max-width: 385px;
    margin: 0px 0px 17px 0px;
  }
  .intro h1 {
    text-align: center;
    max-width: 500px;
    font-size: 60px;
  }
  .intro .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro span {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .header {
    padding: 16px 0px 0px 0px;
  }
  .header .logo {
    margin: -6px 0px 0px 0px;
  }
  .header .logo img {
    max-width: 120px;
  }
  .container {
    max-width: 660px;
  }
  .contact .name,
  .contact .email {
    width: 100%;
  }
}
